- id: heating_update_thermostats
  alias: Heating Update Thermostats
  initial_state: true
  trigger:
    platform: state
    entity_id:
      - sensor.thermofloor_as_heatit_thermostat_tf_033_external_sensor
  action:
    service: python_script.heating_thermostat_update
    data:
      thermostat: climate.thermofloor_as_heatit_thermostat_tf_056_mode
      sensor: sensor.thermofloor_as_heatit_thermostat_tf_033_external_sensor

- id: disable_car_heater_side
  alias: Disable side car heater
  initial_state: true
  trigger:
    platform: numeric_state
    entity_id: sensor.garage_side_socket_power
    above: -1
    below: 1
    for:
      minutes: 10
  action:
    - service: switch.turn_off
      entity_id: switch.car_heater_side
    - service: input_boolean.turn_off
      entity_id: input_boolean.car_heater_side_armed

- id: disable_car_heater_front
  alias: Disable front cat heater
  initial_state: true
  trigger:
    platform: numeric_state
    entity_id: sensor.garage_front_socket_power
    above: -1
    below: 1
    for:
      minutes: 10
  action:
    - service: switch.turn_off
      entity_id: switch.car_heater_front
    - service: input_boolean.turn_off
      entity_id: input_boolean.car_heater_front_armed

- id: front_door_light_on
  alias: Front door light on
  initial_state: true
  trigger:
    platform: state
    entity_id: binary_sensor.0xd0cf5efffe124b79_occupancy
    from: 'off'
    to: 'on'
  condition:
    condition: or
    conditions:
      - condition: sun
        after: sunset
      - condition: sun
        before: sunrise
  action:
    service: light.turn_on
    data:
      entity_id:
        - light.0x90fd9ffffeff2e13_light

- id: front_door_light_off
  alias: Front door light off
  initial_state: true
  trigger:
    platform: state
    entity_id: binary_sensor.0xd0cf5efffe124b79_occupancy
    from: 'on'
    to: 'off'
  action:
    service: light.turn_off
    data:
      entity_id:
        - light.0x90fd9ffffeff2e13_light

- id: utility_room_led_strip_on
  alias: Turn on utility room LED strip
  initial_state: true
  trigger:
    platform: state
    entity_id: binary_sensor.0x00158d00034ce398_occupancy
    from: 'off'
    to: 'on'
  condition:
    condition: or
    conditions:
      - condition: sun
        after: sunset
      - condition: sun
        before: sunrise
  action:
    service: light.turn_on
    data:
      entity_id:
        - light.0x00124b001d43d764_light

- id: utility_room_led_strip_off
  alias: Turn off utility room LED strip
  initial_state: true
  trigger:
    platform: state
    entity_id: binary_sensor.0x00158d00034ce398_occupancy
    from: 'on'
    to: 'off'
  action:
    service: light.turn_off
    data:
      entity_id:
        - light.0x00124b001d43d764_light

- id: shower_room_ledstript_on
  alias: Shower room LED strip on
  initial_state: true
  trigger:
    platform: state
    entity_id: binary_sensor.shelly1_25abb7
    from: 'off'
    to: 'on'
  action:
    service: light.turn_on
    data:
      entity_id: light.shower_room_led_strip

- id: shower_room_ledstrip_off
  alias: Shower room LED strip off
  initial_state: true
  trigger:
    platform: state
    entity_id: binary_sensor.shelly1_25abb7
    from: 'on'
    to: 'off'
  action:
    service: light.turn_off
    data:
      entity_id: light.shower_room_led_strip

- id: shower_room_downlight_on
  alias: Shower room downlight on
  initial_state: true
  trigger:
    platform: state
    entity_id: binary_sensor.shelly1_25a447
    from: 'off'
    to: 'on'
  action:
    - service: light.turn_on
      data:
        entity_id: light.shower_room_downlight

- id: shower_room_downlight_off
  alias: Shower room downlight off
  initial_state: true
  trigger:
    platform: state
    entity_id: binary_sensor.shelly1_25a447
    from: 'on'
    to: 'off'
  action:
    - service: light.turn_off
      data:
        entity_id: light.shower_room_downlight

- id: utility_room_ceiling_light_on
  alias: Utility room ceiling light on
  initial_state: true
  trigger:
    platform: state
    entity_id: binary_sensor.shelly1_2c6915
    from: 'off'
    to: 'on'
  action:
    - service: light.turn_on
      data:
        entity_id: light.0x90fd9ffffef1731a_light

- id: utility_room_ceiling_light_off
  alias: Utility room ceiling light off
  initial_state: true
  trigger:
    platform: state
    entity_id: binary_sensor.shelly1_2c6915
    from: 'on'
    to: 'off'
  action:
    - service: light.turn_off
      data:
        entity_id: light.0x90fd9ffffef1731a_light

- id: shower_room_downlight_on
  alias: Shower room downlight on
  initial_state: true
  trigger:
    platform: state
    entity_id: binary_sensor.shelly1_25a447
    from: 'off'
    to: 'on'
  action:
    - service: light.turn_on
      data:
        entity_id: light.shower_room_downlight

- id: shower_room_downlight_off
  alias: Shower room downlight off
  initial_state: true
  trigger:
    platform: state
    entity_id: binary_sensor.shelly1_25a447
    from: 'on'
    to: 'off'
  action:
    - service: light.turn_off
      data:
        entity_id: light.shower_room_downlight

- id: occupancy_change
  alias: Occupancy changed
  trigger:
    - platform: state
      entity_id: input_select.occupancy_state
  action:
    - service: mqtt.publish
      data_template:
        topic: 'hvac/toshiba-63200289/occupancy_state'
        retain: true
        payload: "{{ states('input_select.occupancy_state') }}"

- id: occupancy_home
  alias: Occupancy at home
  trigger:
    platform: state
    entity_id: input_select.occupancy_state
    to: 'home'
  action:
    - service: switch.turn_on
      entity_id: switch.0x000d6ffffee3cb28_switch

- id: occupancy_away
  alias: Occupancy away
  trigger:
    platform: state
    entity_id: input_select.occupancy_state
    to: 'away'
  action:
    - service: switch.turn_off
      entity_id: switch.0x000d6ffffee3cb28_switch

- id: occupancy_button
  alias: Occupancy button
  trigger:
    platform: mqtt
    topic: zigbee2mqtt/vestibule_button
  action:
    - service: input_select.select_option
      data_template:
        entity_id: input_select.occupancy_state
        option: >
          {% if 'left' == trigger.payload_json.click %}
            home
          {% elif 'right' == trigger.payload_json.click %}
            away
          {% endif %}
    # - service: notify.html5_dismiss
    #   data_template:
    #     data:
    #       tag: occupancy-notify

- id: occupancy_timed_sleep
  alias: "Set occupancy to sleep"
  trigger:
    platform: time
    at: "22:00:00"
  condition:
    condition: state
    entity_id: input_select.occupancy_state
    state: 'home'
  action:
    service: input_select.select_option
    data:
      entity_id: input_select.occupancy_state
      option: 'sleep'

- id: occupancy_timed_home_workday
  alias: "Set occupancy to home if in sleep on workday"
  trigger:
    platform: time
    at: "06:30:00"
  condition:
    - condition: state
      entity_id: input_select.occupancy_state
      state: 'sleep'
    - condition: state
      entity_id: binary_sensor.workday
      state: 'on'
  action:
    service: input_select.select_option
    data:
      entity_id: input_select.occupancy_state
      option: 'home'

- id: occupancy_timed_home_holiday
  alias: "Set occupancy to home if in sleep on holiday"
  trigger:
    platform: time
    at: "08:00:00"
  condition:
    - condition: state
      entity_id: input_select.occupancy_state
      state: 'sleep'
    - condition: state
      entity_id: binary_sensor.workday
      state: 'off'
  action:
    service: input_select.select_option
    data:
      entity_id: input_select.occupancy_state
      option: 'home'

- id: shower_room_drying_on
  alias: "Dry shower room"
  trigger:
    - platform: numeric_state
      entity_id: sensor.shower_room_moisture
      above: 25
  condition:
    - platform: numeric_state
      entity_id: sensor.0x00158d00036b1ad1_temperature
      below: 25
  action:
    - service: climate.set_temperature
      data:
        entity_id: climate.thermofloor_as_heatit_thermostat_tf_056_mode
        temperature: 25

- id: shower_room_drying_off
  alias: "Don't dry shower room"
  trigger:
    - platform: state
      entity_id: input_select.occupancy_state
    - platform: numeric_state
      entity_id: sensor.shower_room_moisture
      below: 25
      for:
        minutes: 15
  condition:
    - condition: numeric_state
      entity_id: sensor.shower_room_moisture
      below: 25
  action:
    - service: climate.set_temperature
      data_template:
        entity_id: climate.thermofloor_as_heatit_thermostat_tf_056_mode
        temperature: >
          {% if is_state('input_select.occupancy_state', 'home') %}
            20
          {% else %}
            17
          {% endif %}

- id: dt_active_devices
  alias: "Device arrives to home"
  trigger:
    - platform: state
      entity_id: device_tracker.g7_thinq
      to: home
  condition:
    - condition: and
      conditions:
      - condition: state
        entity_id: input_select.occupancy_state
        state: away
      - condition: or
        conditions:
          - condition: state
            entity_id: device_tracker.g7_thinq
            state: home
          - condition: state
            entity_id: device_tracker.huawei_p9
            state: home
  action:
    - service: notify.html5
      data:
        message: Asetetaanko kotona-tilaan?
        data:
          tag: occupancy-notify
          actions:
            - action: occupancy_home
              title: Kyllä
            - action: skip
              title: Ei

- id: dt_no_active_devices
  alias: "Devices leave from home"
  trigger:
    - platform: state
      entity_id: device_tracker.g7_thinq
      to: away
  condition:
    - condition: state
      entity_id: input_select.occupancy_state
      state: home
    - condition: state
      entity_id: device_tracker.g7_thinq
      state: away
    - condition: state
      entity_id: device_tracker.huawei_p9
      state: away
  action:
    - service: notify.html5
      data:
        message: Asetetaanko poissa-tilaan?
        data:
          tag: occupancy-notify
          actions:
            - action: occupancy_away
              title: Kyllä
            - action: skip
              title: Ei

- id: notify_occupancy_state
  alias: "Set occupancy state from notification"
  trigger:
    - platform: event
      event_type: html5_notification.clicked
      event_data:
        action: occupancy_home
    - platform: event
      event_type: html5_notification.clicked
      event_data:
        action: occupancy_away
  action:
    - service: input_select.select_option
      data_template:
        entity_id: input_select.occupancy_state
        option: >
          {% if 'occupancy_home' == trigger.event.data.action %}
            home
          {% elif 'occupancy_away' == trigger.event.data.action %}
            away
          {% endif %}

- id: octoprint_shutdown
  alias: "Power off 3D printer"
  trigger:
    - platform: state
      entity_id: sensor.octoprint_current_state
      from: Operational
      to: unknown
      for:
        minutes: 2
  action:
    - service: switch.turn_off
      entity_id: switch.0x000d6ffffedaafbf_switch
